PUNK_HOIVAAJA_TG_TOKEN=your_punk_hoivaaja_bot_token
MID_SKENE_AIJA_TG_TOKEN=your_skene_aija_bot_token
GROUP_CHAT_ID=your_group_chat_id
CLAUDE_API_KEY=sk-ant-api03-xxx
MORNING_START_HOUR=7
MORNING_END_HOUR=9
